* {
	box-sizing: border-box;
}

h2{
	text-align: center;
	color: blue;
}

div {
	width: 33%;
	float:left;
	background-color: gray;
	border: 3px solid black;
	margin: 10px;
}

#p1{
	background-color: #7087FE;
	font-weight: bolder;
	float:right;
	position: relative;
	border: 3px solid black;
	padding: 5px;
	margin-top: -3px;
	margin-right: -1px;
}

#p2{
	background-color: #70FEBC;
	font-weight: bolder;
	float:right;
	position: relative;
	border: 3px solid black;	
	padding: 5px;
	margin-top: -3px;
	margin-right: -1px;

}

#p3{
	background-color: #DDFE70;
	font-weight: bolder;
	float:right;
	position: relative;
	border: 3px solid black;
	padding: 5px;
	margin-top: -3px;
	margin-right: -1px;

}

#p4{
	padding: 10px;
	clear: right;
}


@media(min-width: 992px){
	div{
		width: 31%;
	}

}

@media(min-width: 768px) and (max-width: 991px){
	div{
		width: 44%;
	}
	#p5{
		width: 90%;
	}
	
}

@media(max-width: 767px){
	div{
		width: 90%;
	}
}
